@font-face {
  font-family: 'EuclidCircularB';
  src: url('fonts/EuclidCircularB-Regular.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 3em;
    border: 0;
    font-size: 100%;
    font-family: 'EuclidCircularB';
    vertical-align:baseline;
    background: #181a1b;
    text-align: center;
}

h1 {
    color: #DE6603;
    text-transform: uppercase;
    font-weight: 400;
  }

p {
    color: #A4B7A4;
}

button {
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: #02af54;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #186a3e;
  }

ul {
    list-style:none
}


a {
    color: #A4B7A4;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: #186a3e;
}






