<!DOCTYPE html>
<html lang="en-CA">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Spooktacular Haunted House</title>
		<meta name="robots" content="noindex, nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
	</head>

	<body>
		<nav>
			<a href="index.html" class="nav-item">Home</a>
			<a href="customers.html" class="nav-item">Customers</a>
			<a href="admission-prices.html" class="nav-item">Admission Prices</a>
			<a href="tickets.html" class="nav-item">Tickets</a>
			<a href="rooms.html" class="nav-item selected">Rooms</a>
			<a href="inventory-items.html" class="nav-item">Inventory Items</a>
			<a href="reviews.html" class="nav-item">Reviews</a>
			<a href="employees.html" class="nav-item">Employees</a>
		</nav>
		<main>
			<section>
				<h1>Rooms</h1>
			</section>
			<section>
				<h1>Add Room</h1>
			</section>
		</main>
		<footer></footer>
	</body>
</html>
